body{
    padding-top: 50px;
}

.app, .content{
    width: 600px;
    margin: auto;



}
.content, .content_zag{
    display:flex;
    justify-content: space-between;
}
.content_zag{
    font-weight: bold;
    padding-bottom: 20px;
}
.class_id, .count{
    width: 30px;
    text-align: center;
    align-items: center;

}
.class_text, .class_text_zag{
    width: 500px;
    align-items: center;
}
.class_text_zag{
    text-align: center;
}
.clas_comp{
    width: 60px;
}
.but{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}
.stk_button{
    display: flex;
    justify-content: space-between;
}
.content_zag{
    text-align: center;
}
